<html>
  <head>
    <title>
      Bloggy
      {{#if title}}
        | {{ title }}
      {{/if}}
    </title>
    <link rel="icon" href="/public/favicon.ico"/>
  </head>
  <body>
    <h1><a href="/">Bloggy</a></h1>
    {{~> page}}
  </body>
</html>
